*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-container{
    width: 60%;
    margin: auto;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
    border: 5px solid black;
    overflow: hidden;
}